.makeup-card {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #fff;
}

.makeup-photo {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.makeup-card h1 {
    font-size: 1.2em;
    margin: 0.5em 0;
    color: black;
}

.makeup-card h3 {
    font-size: 1em;
    color: #666;
}

.makeup-card h2 {
    font-size: 1.1em;
    color: #333;
    font-weight: bold;
}
