.admin-page{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}
.admin-container{
    flex: 1;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}