.memberships-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.memberships-container {
    flex: 1;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    gap: 20px; /* Space between each membership tier */
}

.membership-tier {
    width: 80%;                     /* Tier box width relative to the page */
    max-width: 600px;                /* Maximum width for better readability */
    padding: 20px;
    border-radius: 1px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.gold {
    background-color: #ffd700;       /* Gold color */
    color: #333;                     /* Text color to contrast the background */
}

.silver {
    background-color: #c0c0c0;       /* Silver color */
    color: #333;
}

.bronze {
    background-color: #cd7f32;       /* Bronze color */
    color: #fff;                     /* White text for better contrast */
}

.membership-tier h2 {
    font-family: "Tinos", serif;
    margin-bottom: 15px;
    font-size: 24px;
}

.membership-tier p {
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
    font-size: 16px;
}

.membership-tier p:last-child {
    font-weight: bold;               /* Highlight the price */
}

.membership-tier:hover {
    transform: scale(1.02);          /* Slight zoom on hover */
    transition: transform 0.3s ease;
}
